<div class="col-12 footer py-3 d-flex justify-content-center bg-dark">
  <a
    href="https://www.linkedin.com/in/dilara-ta%C5%9Fezen-8903b5246/"
    target="_blank"
  >
    <i class="fa-brands fa-2x fa-linkedin icon-transtion mx-4"> </i
  ></a>
  <a href="mailto:dilara@dilaratasezenn.com" target="_blank">
    <i class="fa-solid fa-2x fa-envelope-open-text icon-transtion"> </i
  ></a>
  <a href="https://github.com/dilaratasezenn" target="_blank">
    <i class="fa-brands fa-2x fa-square-github icon-transtion mx-4"></i>
  </a>
</div>
