<div class="container">
  <div class="row text-center">
    <div class="col-6">
      <p class="heading">{{ animatedHeading }}</p>
      <p class="name">{{ animatedName }}</p>
      <p class="description">{{ animatedDescription }}</p>
    </div>
    <div class="col-6">
      <img
        src="/assets/img/dilara.png"
        alt="dilara"
        class="img-fluid mb-5 dilara-picture"
        [@flipInY]="animationState"
      />
      <!--
        <img
        src="/assets/img/dilara.png"
        alt="dilara"
        class="img-fluid mb-5 dilara-picture"
      />
      -->
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-12">
      <div class="about-border">
        <p class="about-title text-center">HAKKIMDA</p>
        <p class="about-description text-center">
          adsf dgfhljd kşlv cxz stxdyc tfu vygıbuh onıjpmknı obuıvytcrxezstx
          rdyctfuvy gbıhınojm opkpn ıbuıvy cftydxr tsze txrdy cfuvbgıhonjpmo
          kpömonıb uvyfc tdrxsez rawd rtfugıyh uojpkoğpkjıhu gyfds trdytf ughıj
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="talent-title text-center mt-4">Yeteneklerim</p>
    <div class="col-6">
      <ul class="talent-list">
        <li class="mb-4">HTML</li>
        <li class="mb-4">CSS</li>
        <li class="mb-4">Bootstrap</li>
        <li class="mb-4">Angular</li>
        <li class="mb-4">ASP.NET Boilerplate</li>
      </ul>
    </div>
    <div class="col-6">
      <div
        class="progress mb-4"
        role="progressbar"
        aria-label="Success example"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div class="progress-bar-html bg-success text-center">100%</div>
      </div>
      <div
        class="progress mb-4"
        role="progressbar"
        aria-label="Success example"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div class="progress-bar-css bg-success text-center">90%</div>
      </div>
      <div
        class="progress mb-4"
        role="progressbar"
        aria-label="Success example"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div class="progress-bar-bootstrap bg-success text-center">70%</div>
      </div>
      <div
        class="progress mb-4"
        role="progressbar"
        aria-label="Success example"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div class="progress-bar-angular bg-success text-center">50%</div>
      </div>
      <div
        class="progress mb-4"
        role="progressbar"
        aria-label="Success example"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div class="progress-bar-asp bg-success text-center">25%</div>
      </div>
    </div>
  </div>
</div>
