<div class="container">
  <div class="row text-center">
    <div class="col-6">
      <p class="heading">{{ animatedHeading }}</p>
      <p class="name">{{ animatedName }}</p>
      <p class="description">{{ animatedDescription }}</p>
    </div>
    <div class="col-6">
      <img
        src="/assets/img/dilara.png"
        alt="dilara"
        class="img-fluid mb-5 dilara-picture"
      />
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-12">
      <div class="about-border">
        <p class="about-title text-center">HAKKIMDA</p>
        <p class="about-description">
          adsf dgfhljd kşlv cxz stxdyc tfu vygıbuh onıjpmknı obuıvytcrxezstx
          rdyctfuvy gbıhınojm opkpn ıbuıvy cftydxr tsze txrdy cfuvbgıhonjpmo
          kpömonıb uvyfc tdrxsez rawd rtfugıyh uojpkoğpkjıhu gyfds trdytf ughıj
        </p>
      </div>
    </div>
  </div>
  <div class="row"></div>
</div>
