<div class="container border-transition py-1 mt-5 mb-5">
  <div class="d-flex justify-content-between mt-4 mr-3 text-center">
    <div class="col-5 hello-border border-transition">
      <p class="heading">{{ animatedHeading }}</p>
      <p class="name">{{ animatedName }}</p>
      <p class="description">{{ animatedDescription }}</p>
    </div>

    <div class="col-5 img-border border-transition">
      <img
        src="/assets/img/dilara.png"
        alt="dilara"
        class="img-fluid mb-5 dilara-picture"
      />
    </div>
  </div>

  <div class="col-12 mb-3 mt-5 py-2 border-transition">
    <p class="title text-center">HAKKIMDA</p>
    <p class="about-description text-center">
      Kendimi Front-end developer olarak geliştiriyorum. Bunun için Html, Css,
      Git ve sonrasında Angular ile birlikte Bootstrap öğrenmeye başladım.
      Öğrenirken dokümantasyonları ve ilgili sayfaları, kurslarla öğrenmeye amaç
      edindim. Ayrıca, henüz kurulmuş br şirketin sayfasını tasarladım ve hala
      geliştirmeye devam ediyorum. Bu süreçte hem kendimi geliştiriyorum hem de
      öğrenmeye devam ediyorum.
    </p>
  </div>
  <div class="d-flex justify-content-evenly pt-5" style="margin-bottom: 15%">
    <div class="img-container logo-transition">
      <img src="assets/img/angular.svg" alt="angular logo" />
      <p class="my-3 text-center text-secondary">Angular</p>
    </div>
    <div class="img-container logo-transition">
      <img src="assets/img/bootstrap.png" alt="bootstrap logo" />
      <p class="my-3 text-center text-secondary">Bootstrap</p>
    </div>
    <div class="img-container logo-transition">
      <img src="assets/img/html.png" alt="html logo" />
      <p class="my-3 text-center text-secondary">HTML5</p>
    </div>
    <div class="img-container logo-transition">
      <img src="assets/img/css.png" alt="css logo" />
      <p class="my-3 text-center text-secondary">CSS3</p>
    </div>
  </div>
</div>

<app-footer class="d-md-block d-none"></app-footer>
<app-footer class="d-block d-md-none fixed-bottom"></app-footer>

<!--<div
        class="progress mb-4"
        role="progressbar"
        aria-label="Success example"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div
          [style.width]="progressHtmlValue.toString() + '%'"
          class="progress-bar-html bg-success text-center"
        >
          {{ progressHtmlValue }}%
        </div>
      </div>
      <div
        class="progress mb-4"
        role="progressbar"
        aria-label="Success example"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div
          [style.width]="progressCssValue.toString() + '%'"
          class="progress-bar-css bg-success text-center"
        >
          {{ progressCssValue }}%
        </div>
      </div>
      <div
        class="progress mb-4"
        role="progressbar"
        aria-label="Success example"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div
          [style.width]="progressBootstrapValue.toString() + '%'"
          class="progress-bar-bootstrap bg-success text-center"
        >
          {{ progressBootstrapValue }}%
        </div>
      </div>
      <div
        class="progress mb-4"
        role="progressbar"
        aria-label="Success example"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div
          [style.width]="progressAngularValue.toString() + '%'"
          class="progress-bar-angular bg-success text-center"
        >
          {{ progressAngularValue }}%
        </div>
      </div>
      <div
        class="progress mb-4"
        role="progressbar"
        aria-label="Success example"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div
          [style.width]="progressAspValue.toString() + '%'"
          class="progress-bar-asp bg-success text-center"
        >
          {{ progressAspValue }}%
        </div>
      </div>-->
