:root {
  /*ana renkler*/
  --gray: #24292e;
  --white: #fffafa;
  --purple: #4b61d1;
  --light-gray: #32383f;
  --orange: #eda31a;
  --purple-light: #6474c4;
}

body {
  background-color: var(--gray);
}


.dilara-picture {
  max-width: 50%;
  
  
}

.heading {
  margin-top: 20%;
  font-size: 4rem;
  color: var(--white);
}

@media (max-width: 768px) {
  .heading {
    font-size: 1.5rem; /* Küçük ekranlarda metni küçült */
  }
}

.name {
  font-size: 3rem;
  color: var(--white);
}

@media (max-width: 768px) {
  .name {
    font-size: 1rem; /* Küçük ekranlarda metni küçült */
  }
}

.description {
  font-size: 2rem;
  color: var(--white);
}
@media (max-width: 768px) {
  .description {
    font-size: 0.8rem; /* Küçük ekranlarda metni küçült */
  }
}


  

.about-description {
  color: var(--white);
}
.about-border {
  
  transition: box-shadow 1s;
  
}

.about-border:hover {
  box-shadow: 0px 0px 15px var(--purple);
}


.talent-list {
  color: var(--white);
  list-style: circle;
  right: 10%;
}

.img-border{
  margin-right: 5%;
}

.hello-border{
  margin-left: 5%;
}

.border-transition {
 
  transition: box-shadow 1s;
  
}
.border-transition:hover {
  background-color: #292f35;
  box-shadow: 0px 0px 15px var(--purple);
}

.title{
  color: var(--white);
  font-size: 2rem;
  box-shadow: 0px 5px var(--light-gray);
}

@media (max-width: 768px) {
  .title {
    font-size: 1rem; 
  }
}
.footer{
  background-color: var(--purple);

}

.university{
  color: var(--white);
  
  font-size: 120%;
}

.university-description{
  color: var(--white);
font-size: 80%;
}

@media (max-width: 768px) {
  .university {
    font-size: 110%; 
  }
}

.footer{
  background-color: var(--purple);
}

.icon-transtion{
  color: var(--white);
 
}

.icon-transtion:hover{
  color: var(--purple);
  transition: 1s;
}
.icon-transtion:active
{
  color: var(--purple-light);
  transition: 0.1s;
}

/*.progress {
  height: 10%;
}
.progress-bar-html {
  font-size: 15px;
  color: var(--green);
}
.progress-bar-css {
  font-size: 15px;
  color: var(--green);
}
.progress-bar-bootstrap {
  font-size: 15px;
  color: var(--green);
}
.progress-bar-angular {
  font-size: 15px;
  color: var(--green);
}
.progress-bar-asp {
  font-size: 15px;
  color: var(--green);
}*/
/* You can add global styles to this file, and also import other style files */
